<!-- including admin head  -->
<%- include('../../partials/admin-partials/admin-head.ejs') %>

<body>

  <!-- including admin nav  -->
  <%- include('../../partials/admin-partials/admin-nav-login.ejs') %>
  <% if (message) { %>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        toastMessage("<%= message %>");
      });
    </script>
    <% } %>

  <section>
    <div class="container-fluid">
      <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center border-2 border-end" style="height: 600px;">
          <img class="login-image img-fluid" src="/images/login.png" alt="Login page image" style="width: 500px">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
          <div class="loginDiv" style="width: 500px;">
            <h4 class="text-center text-black font-size-bold-title">Edit a brand</h4>
            <form id="validateForms" action="/admin-edit-brand/<%-editBrand._id%>" method="POST">
              <div class="mb-3">
                <label for="brand" class="form-label text-black font-size">Brand name</label>
                <input value="<%-editBrand.brand%>" type="text" class="form-control bg-whit text-black font-size validateInputValues" id="brand" name="brand" required>
                <div class="text-danger font-size" id="validateErrors"></div>
              </div>

              <div class="d-flex justify-content-around align-items-center flex-wrap">
                <a class="btn btn-dark my-3 px-5 py-2 text-white font-size-bold" href="/admin-brand-management">cancel</a>
                <button type="submit" class="btn btn-danger my-3 px-5 py-2 text-white font-size-bold">confirm</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
  </section>

  <!-- including admin footer  -->
  <%- include('../../partials/admin-partials/admin-footer.ejs') %>

</body>

</html>