<!-- including admin head  -->
<%- include('../../partials/admin-partials/admin-head.ejs') %>

<body>

  <!-- including admin nav  -->
  <%- include('../../partials/admin-partials/admin-nav.ejs') %>
  <% if (message) { %>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        toastMessage("<%= message %>");
      });
    </script>
    <% } %>

  <section>
    <div class="row d-flex m-0 p-0">
      <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 left-side-nav border-1 border-white m-0 p-0">
        <%- include('../../partials/admin-partials/admin-sideBar.ejs') %>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10 right-side-nav bg-white overflow-auto m-0 p-0">
        <div class="top-bar d-flex justify-content-between align-items-center p-2">

          <h6 class="text-primary">Category Management</h6>
          <!-- add Category button start -->
          <button type="submit" class="btn btn-primary text-white text-center ">
            <a class="text-white text-decoration-none p-0 font-size" href="/admin-add-category">Add Category</a>
          </button>
          <!-- add Category button end -->
        </div>

        <table class="table table-black table-bordered" id="myTable">
          <thead>
            <tr class="font-size">
              <th class="table-white text-black bg-light text-center" scope="col">No.</th>
              <th class="table-white text-black bg-light text-center" scope="col">Category name</th>
              <th class="table-white text-black bg-light text-center" scope="col">Created on</th>
              <th class="table-white text-black bg-light text-center" scope="col">Status</th>
              <th class="table-white text-black bg-light text-center" scope="col">Action</th>
              <th class="table-white text-black bg-light text-center" scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>

            <% categoryDetails.forEach((data) => { %>
            <tr class="font-size">
              <td class="text-black table-white text-start"><%= ++i %></td>
              <td class="text-black table-white text-start"><%= data.category %></td>
              <td class="text-black table-white text-start">
                <%= data.createdAt.toLocaleDateString("en-US", 
                { year: 'numeric',
                  month: 'short',
                  day: 'numeric' 
               }
                ) %>
              </td>

              <% let value; %>
              <td class="<%= data.status ? 'text-success fw-bold' : 'text-danger fw-bold' %> table-white text-center">
                <% if (data.status) { %>
                <% value = 'enabled'; %>
                <% } else { %>
                <% value = 'disabled'; %>
                <% } %>
                <%= value %>
              </td>

              <td class="text-white table-white text-center">
                <% if (data.status) { %>
                <!-- If user is active, provide option to block -->
                <form action="/admin/disable-category/<%- data._id %>" method="post">
                  <button type="submit" class="text-white font-size btn btn-danger px-3 py-0" onclick="return confirm('Are you sure you want to disable <%=data.name%>?')">Disable</button>
                </form>
                <% } else { %>
                <!-- If user is inactive, provide option to unblock -->
                <form action="/admin/enable-category/<%- data._id %>" method="post">
                  <button type="submit" class="text-white font-size btn btn-primary px-3 py-0" onclick="return confirm('Are you sure you want to enable <%=data.name%>?')">Enable</button>
                </form>
                <% } %>
              </td>

              <td class="text-black table-white text-start">
                <form action="/admin-edit-category/<%- data._id %>" method="get" class="text-center">
                  <button type="submit" class="text-white font-size btn btn-primary px-3 py-0" onclick="return confirm('Are you sure you want to edit <%=data.category%>?')">edit</button>
                </form>
              </td>
            </tr>
            <% }) %>

          </tbody>
        </table>
        <!-- unmatched search start -->
        <% if(categoryDetails.length > 0){ %>
        <% } else { %>
        <div>
          <h6 class="text-black font-size p-2 animate__animated animate__flash" colspan="5"><em>Sorry! no match found</em></h6>
        </div>
        <% } %>
        <!-- unmatched search end -->
      </div>
    </div>
  </section>
  <!-- including admin footer  -->
  <%- include('../../partials/admin-partials/admin-footer.ejs') %>

</body>

</html>