<!-- including admin head -->
<%- include('../../partials/admin-partials/admin-head.ejs') %>

<body>

  <!-- including admin nav -->
  <%- include('../../partials/admin-partials/admin-nav.ejs') %>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center my-3">
          <div class="col-12 border rounded-3 d-flex justify-content-between align-items-center p-2 flex-wrap">
            <div class="col-sm-12 col-md-12 col-lg-6 font-size text-secondary text-start px-3">
              <a class="text-black text-decoration-none" href="/admin-dashboard">Dashborad</a>
              <span class="font-size-bold">&gt;</span>
              <a class="text-black text-decoration-none font-size-bold" href="/sales-report?customRange=<%= customRange %>&startDate=<%= startDate %>&endDate=<%= endDate %>"><%= customRange?.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ') %> sales report</a>
            </div>
            <% if(locals?.admin){ %>
            <div class="col-sm-12 col-md-12 col-lg-6 font-size-bold text-end px-3">Admin</div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% if (paginatedOrder?.length === 0) { %>
  <div class="container-fluid">
    <div class="row m-0 p-0">
      <p class="m-0 p-0 text-black font-size-bold fst-italic">No data found</p>
    </div>
  </div>
  <% } %>
  <% if (paginatedOrder?.length > 0) { %>
  <section>
    <div class="conatiner">
      <div class="row d-flex m-0 p-0">
        <div class="col-12 m-0 p-0">
          <div class="container-fluid">
            <div class="row m-0 p-0 border rounded-3 mb-3">
              <div class="col-12 d-flex justify-content-end align-items-center m-0 p-0">
                <% const timeStamp = new Date().getTime(); %>
                <% const fileName = `clothSTORE_${customRange}_${timeStamp}`%>
                <a onclick="downloadExcel('<%= fileName  %>')" class="border-0 bg-black text-white font-size-bold m-0 outline-none px-3 py-2 rounded-3 text-decoration-none me-2" style="cursor: pointer;">
                  <i class="fa-solid fa-bounce fa-xl fa-file-excel pe-2 text-primary"></i>Download Excel</a>
                <a href="/generate-sales-report?customRange=<%= customRange %>&startDate=<%= startDate %>&endDate=<%= endDate %>&fileType=pdf" class="border-0 bg-black text-white font-size-bold m-0 outline-none px-3 py-2 rounded-3 text-decoration-none " style="cursor: pointer;">
                  <i class="fa-solid fa-xl fa-bounce fa-file-pdf pe-2 text-primary"></i>Download PDF</a>
              </div>
            </div>
          </div>
          <div class="container-fluid m-0">
            <div class="row m-0 p-0 border rounded-3 my-3">
              <div class="row m-0 p-3">
                <div class="row m-0 p-0 table-responsive-md overflow-auto">
                  <table class="table table-hover" id="sales-table">
                    <thead>
                      <tr class="font-size " style="vertical-align: middle;">
                        <th class="text-primary font-sizebold text-center text-truncate" colspan="16">
                          <%= customRange?.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ') %> Sales Report ( <%= startDate %> to <%= endDate %>)
                        </th>
                      </tr>
                    </thead>
                    <thead>
                      <tr class="font-size" style="vertical-align: middle;">
                        <th class="text-white font-size-small bg-black text-center text-truncate">No.</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Product</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">MRP</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Tax</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Qty.</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Taxable</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">GST</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">SGST</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">CGST</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Disc. %</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Disc. Amt.</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Coup. %</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Coup. Amt.</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Total Disc. %</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Total Disc. Amt.</th>
                        <th class="text-white font-size-small bg-black text-center text-truncate">Total</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <% const total = paginatedOrder?.reduce((acc, element, index) => {
                        acc.totalMrp += parseFloat(element?.mrp || 0);
                        acc.totalQuantity += parseFloat(element?.quantity || 0);
                        acc.totalMrpWithoutTax += parseFloat(element?.mrpWithoutTax || 0);
                        acc.totalGst += parseFloat(element?.gst || 0);
                        acc.totalSgst += parseFloat(element?.sgst || 0);
                        acc.totalCgst += parseFloat(element?.cgst || 0);
                        acc.totalDiscount += parseFloat(element?.discount || 0);
                        acc.totalFirstDiscountAmount += parseFloat(element?.firstDiscountAmount || 0);
                        acc.totalCouponValue += parseFloat(element?.couponValue || 0);
                        acc.totalSecondDiscountAmount += parseFloat(element?.seccondDiscountAmount || 0);
                        acc.totalDiscountAmount += parseFloat(element?.totalDiscount || 0);
                        acc.totalDiscountPercentage += parseFloat(element?.totalDiscountPercentage || 0);
                        acc.totalPrice += parseFloat(element?.totalPrice || 0);
                        return acc;
                    }, {
                        totalMrp: 0,
                        totalQuantity : 0,
                        totalMrpWithoutTax: 0,
                        totalGst: 0,
                        totalSgst: 0,
                        totalCgst: 0,
                        totalDiscount: 0,
                        totalFirstDiscountAmount: 0,
                        totalCouponValue: 0,
                        totalSecondDiscountAmount: 0,
                        totalDiscountAmount: 0,
                        totalDiscountPercentage: 0,
                        totalPrice: 0
                    }); %>
                      <% paginatedOrder?.forEach((element, index) => { %>
                      <tr class="font-size">
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= index + 1 %></td>
                        <td class="text-black table-white font-size-small text-truncate text-start"><%= element?.product?.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ') %></td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.mrp?.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.quantity?.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.taxRate * 100 %> %</td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.mrpWithoutTax?.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.gst?.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.sgst?.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.cgst?.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.discount %> %</td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.firstDiscountAmount?.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.couponValue?.toFixed(0) %> %</td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.seccondDiscountAmount?.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.totalDiscountPercentage?.toFixed(0) %> %</td>
                        <td class="text-black table-white font-size-small text-truncate text-end"><%= element?.totalDiscount?.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small text-truncate-bold text-end"><%= element?.totalPrice?.toFixed(2)  %></td>
                      </tr>
                      <% }) %>
                      <tr class="font-size">
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-start">Total</td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalMrp.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalQuantity.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalMrpWithoutTax.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalGst.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalSgst.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalCgst.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalFirstDiscountAmount.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalSecondDiscountAmount.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalDiscountAmount.toFixed(2) %></td>
                        <td class="text-black table-white font-size-small-bold text-truncate text-end"><%= total.totalPrice.toFixed(2) %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row m-0 p-3">
                <div class="col-12 justify-content-center py-2" style="display: flex;" id="pagination">
                  <% if (currentPage > 1) { %>
                  <div class="text-center border rounded-1 bg-light">
                    <a class="text-decoration-none" href="/sales-report?customRange=<%= customRange %>&startDate=<%= startDate %>&endDate=<%= endDate %>&page=<%= currentPage - 1 %>&limit=<%= limit %>">
                      <p class="font-size px-3 py-2 m-0 text-dark">&lt;</p>
                    </a>
                  </div>
                  <% } %>
            
                  <% for (let i = 1; i <= totalPages; i++) { %>
                  <% if (i === currentPage) { %>
                  <div class="text-center border rounded-1 <%= i === currentPage ? 'bg-dark' : 'bg-light' %>">
                    <a class="text-decoration-none" href="/sales-report?customRange=<%= customRange %>&startDate=<%= startDate %>&endDate=<%= endDate %>&page=<%= i %>&limit=<%= limit %>">
                      
                      <p class="font-size px-3 py-2 m-0 text-white"><%= i %></p>
                    </a>
                  </div>
                  <% } else { %>
                  <div class="text-center border rounded-1 bg-light">
                    <a class="text-decoration-none" href="/sales-report?customRange=<%= customRange %>&startDate=<%= startDate %>&endDate=<%= endDate %>&page=<%= i %>&limit=<%= limit %>">
                      <p class="font-size px-3 py-2 m-0 text-dark"><%= i %></p>
                    </a>
                  </div>
                  <div id="limit" hidden data-limit="<%= limit %>"></div>
                  <div id="page" hidden data-page="<%= i %>"></div>
                  <% } %>
                  <% } %>
            
                  <% if (currentPage < totalPages) { %>
                  <div class="text-center border rounded-1 bg-light">
                    <a class="text-decoration-none" href="/sales-report?customRange=<%= customRange %>&startDate=<%= startDate %>&endDate=<%= endDate %>&page=<%= currentPage + 1 %>&limit=<%= limit %>">
                      <p class="font-size px-3 py-2 m-0 text-dark">&gt;</p>
                    </a>
                  </div>
                  <% } %>
            
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>
</body>
<!-- CDN of xlsx library  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script>
  function downloadExcel(fileName) {
    var wb = XLSX.utils.table_to_book(document.getElementById('sales-table'), {
      sheet: "Sales Report"
    });
    XLSX.writeFile(wb, `${fileName}.xlsx`);
  }
</script>

</html>
