<!-- including admin head  -->
<%- include('../../partials/admin-partials/admin-head.ejs') %>

<body>

  <!-- including admin nav  -->
  <%- include('../../partials/admin-partials/admin-nav.ejs') %>

  <section>
    <div class="row d-flex m-0 p-0">
      <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 left-side-nav border-1 border-white m-0 p-0">
        <%- include('../../partials/admin-partials/admin-sideBar.ejs') %>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10 right-side-nav overflow-auto m-0 p-0">
        <div class="top-bar d-flex justify-content-between align-items-center p-2">

          <h6 class="text-primary">Product Management</h6>

          <% if (message) { %>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                toastMessage("<%= message %>");
              });
            </script>
          <% } %>

          <button type="submit" class="btn btn-primary text-white text-center ">
            <a class="text-white text-decoration-none p-0 font-size" href="/admin-add-product">Add Product</a>
          </button>

        </div>
        <table class="table table-black table-bordered" id="myTable">
          <thead>
            <tr class="font-size">
              <th class="table-white text-black bg-light text-center" scope="col">No.</th>
              <th class="table-white text-black bg-light text-center" scope="col">Title</th>
              <th class="table-white text-black bg-light text-center" scope="col">Image</th>
              <th class="table-white text-black bg-light text-center" scope="col">Brand</th>
              <th class="table-white text-black bg-light text-center" scope="col">Category</th>
              <th class="table-white text-black bg-light text-center" scope="col">MRP</th>
              <th class="table-white text-black bg-light text-center" scope="col">Color</th>
              <th class="table-white text-black bg-light text-center" scope="col">Status</th>
              <th class="table-white text-black bg-light text-center" scope="col">Action</th>
              <th class="table-white text-black bg-light text-center" scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <% ProductDetails.forEach((product, index) => { %>
            <tr class="font-size">
              <td class="text-black table-white text-start"><%= ++i %></td>
              <td class="text-black table-white text-start">
                <a class="text-decoration-none text-black" href="/admin-edit-prouduct/<%- product._id %>" onclick="return confirm('Are you sure you want to edit <%=product.title%>?')"><%= product.title %></a>
              </td>
              <td class="text-black table-white d-flex justify-content-center align-items-center border-0">
                <a class="" href="/admin-edit-prouduct/<%- product._id %>">
                  <img class="img-fluid" style="width: 20px; height: 30px;" src="/productImages/<%= product.images[0] %>" alt="<%= product.images[0] %>" onclick="return confirm('Are you sure you want to edit <%=product.title%>?')">
                </a>
              </td>

              <td class="text-black table-white text-start">
                <% brandArray.forEach(brand => { %>
                  <% if (brand._id.toString() === product.brandName.toString()) { %>
                    <%= brand.brand %>
                  <% } %>
                <% }) %>
              </td>
              
              <td class="text-black table-white text-start">
                <% categoryArray.forEach(category => { %>
                <% if (category._id.toString() === product.categoryName.toString()) { %>
                <%= category.category %>
                <% } %>
                <% }) %>
              </td>
    
              <td class="text-black table-white text-end"><%= product.mrp%></td>
              <td class="text-black table-white">
                  <button class="btn w-100 border-0 outline-none m-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= product._id %>" aria-expanded="false" aria-controls="collapseExample<%= product._id %>">
                    <div class="col d-flex text-center font-size py-1">
                      <div class="col-1 text-start">
                        <p class="px-2 m-0"></p>
                      </div>
                      <div class="col-4 text-start">
                        <p class="px-2 m-0">Color</p>
                      </div>
                      <div class="col-4 text-start">
                        <p class="px-2 m-0">Size</p>
                      </div>
                      <div class="col-2 text-start">
                        <p class="px-2 m-0">Qty.</p>
                      </div>
                      <div class="col-1 text-start">
                        <i class="fa-solid fa-circle-chevron-down px-2"></i>
                      </div>
                    </div>
                  </button>
                  <div class="col collapse" id="collapseExample<%= product._id %>">
                <% product.variants.forEach((variant, number) => { %>
                <div class="col d-flex border-1 border-top py-1">
                  <div class="col-1 text-end">
                    <p class="px-2 m-0"><%= number+1 %>.</p>
                  </div>
                  <div class="col-3 text-start">
                    <% colorsArray.forEach(color => { %>
                    <% if (color._id.toString() === variant.color.toString()) { %>
                    <p class="px-2 m-0"><%= color.color %></p>
                    <% } %>
                    <% }); %>
                  </div>
                  <div class="col-5 text-start">
                    <% sizesArray.forEach(size => { %>
                    <% if (size._id.toString() === variant.size.toString()) { %>
                    <p class="px-2 m-0"><%= size.size %></p>
                    <% } %>
                    <% }); %>
                  </div>
                  <div class="col-2">
                    <p class="p-0 m-0 text-end"><%= variant.quantity %></p>
                  </div>
                  <div class="col-1">
                    <p class="px-2 m-0 text-end"></p>
                  </div>
                </div>
                <% }); %>
              </div>
              </td>
              <% let value; %>
              <td class="<%= product.status ? 'text-success fw-bold' : 'text-danger fw-bold' %> table-white text-center">
                <% if (product.status) { %>
                <% value = 'enabled'; %>
                <% } else { %>
                <% value = 'disabled'; %>
                <% } %>
                <%= value %>
              </td>

              <td class="text-white table-white text-center">
                <% if (product.status) { %>
                <!-- If user is active, provide option to block -->
                <form action="/admin/disable-product/<%- product._id %>" method="post">
                  <button type="submit" class="text-white font-size btn btn-danger px-3 py-0" onclick="return confirm('Are you sure you want to disable <%=product.title%>?')">Disable</button>
                </form>
                <% } else { %>
                <!-- If user is inactive, provide option to unblock -->
                <form action="/admin/enable-product/<%- product._id %>" method="post">
                  <button type="submit" class="text-white font-size btn btn-primary px-3 py-0" onclick="return confirm('Are you sure you want to enable <%=product.title%>?')">Enable</button>
                </form>
                <% } %>
              </td>

              <td class="text-black table-white text-start">
                <form action="/admin-edit-product/<%- product._id %>" method="get" class="text-center">
                  <button type="submit" class="text-white font-size btn btn-primary px-3 py-0" onclick="return confirm('Are you sure you want to edit <%=product.title%>?')">edit</button>
                </form>
              </td>
              <!-- <td class="text-black table-white text-start">
                <form action="/admin-delete-product/<%- product._id %>" method="get" class="text-center">
                  <button type="submit" class="text-white font-size btn btn-danger px-3 py-0" onclick="return confirm('Are you sure you want to delete <%=product.title%>?')">delete</button>
                </form>
              </td> -->
            </tr>
            <% }) %>
          </tbody>
        </table>
        <!-- unmatched search start -->
        <% if(ProductDetails.length > 0){ %>
        <% } else { %>
        <div>
          <h6 class="text-black font-size p-2 animate__animated animate__flash " colspan="5"><em>no product to show</em></h6>
        </div>
        <% } %>
        <!-- unmatched search end -->
      </div>
    </div>
  </section>
  <!-- including admin footer  -->
  <%- include('../../partials/admin-partials/admin-footer.ejs') %>

</body>

</html>