<!-- including user head  -->
<%- include('../../partials/user-partials/user-head.ejs') %>

<body class="">

  <!-- including user nav  -->
  <%- include('../../partials/user-partials/user-nav.ejs') %>

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center p-2">
          <div class="col-12 border rounded-3 d-flex justify-content-between align-items-center p-2 flex-wrap">
            <div class="col font-size text-secondary text-start px-3">
              <a class="text-black text-decoration-none" href="/">Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <section>
    <div class="container-fluid m-0 p-0">
      <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
          <img class="img-fluid w-100" src=" /images/banner.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <% if (message) { %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      toastMessage("<%= message %>");
    });
  </script>
  <% } %>
  <%# if (locals.user && wallet?.length <= 0) { %>
  <!-- Toast message -->
  <!-- <div class="toast walletToast position-fixed top-50 start-50 translate-middle p-3 bg-black" id="confirmationToast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header bg-white">
      <img src="/images/clothStore_favicon.jpg" style="width: 20px; height: 20px;" class="border rounded me-2">
      <strong class="me-auto text-black">clothStore</strong>
      <small id="toast-timestamp" class="text-black"></small>
    </div>
    <div class="toast-body text-white font-size m-0 p-0 py-2">
      Activate your wallet now and claim Rs. 1000!
    </div>
    <div class="toast-body text-white font-size m-0 p-0 py-2">
      Don't miss out—activate your wallet and seize the offer.
    </div>
    <div class="toast-body text-white font-size m-0 p-0 py-2">
      Activate your wallet and you're all set to enjoy Rs. 1000!
    </div>
    <div class="d-flex justify-content-end align-items-center">
      <button type="button" id="confirmChangeBtn" class="btn-sm bg-white border-0 font-size-bold py-2 px-2 rounded-2 text-black">
        <i class="fa-solid fa-wallet fa-xl fa-bounce pe-2 text-primary"></i>Activate wallet
      </button>
    </div>
  </div> -->
  <%# } %>
  <!-- <div hidden id="walletData" data-wallet="<%#= wallet %>"></div> -->
  <section class="brands-section">
    <div class="container-fluid">
      <div class="row bg-black d-flex justify-content-around">
        <% brands.forEach((brand)=>{ %>
        <div class="col-sm-12 col-md-12 col-lg-2 py-4 text-center border-top border-white ">
          <a href="user-view-brandwise/<%= brand._id %>" class="text-center text-white p-0 my-auto fs-4 fw-bold text-decoration-none"><%= brand?.brand?.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ')  %></a>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p class="text-center pt-4 font-size-bold">
            <span><i class="fa-solid fa-square-up-right fa-bounce text-black"></i>
              <a href="/user-list-all-products" class="text-decoration-none text-black">see all products
              </a>
            </span>
          </p>
          <hr class="fw-bold fs-6 bg-black">
          <h2 class="text-center pt-4 fw-bold">Flash Sale</h2>
          <div class="row">
            <% if(flashSale.length > 0){ %>
            <% flashSale.forEach((flashsales) => { %>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center align-items-start my-4 ">
              <div class="card position-relative w-100">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative ">
                  <div class="col-12 m-0 p-0">
                    <a class="text-decoration-none" href="/user-view-product-details/<%= flashsales?.productDetails?._id %>">
                      <img src="/productImages/<%= flashsales?.productDetails?.images[1] %>" class="card-img-top img-fluid w-100 m-0 p-0" style="height: 300px; object-fit: cover;" alt="<%= flashsales?.productDetails?.title %>">
                    </a>
                    <h5 class="text-black font-size m-0 py-1 sumOfQuantities position-absolute bottom-0 start-0">
                      <% if (flashsales.sumOfQuantities > 10) { %>
                      <span class="m-0 px-2 py-1" style="color: #ffffff; background-color: #24b311; font-weight: bold;">In stock</span>
                      <% } else if (flashsales.sumOfQuantities <= 10 && flashsales.sumOfQuantities > 0) { %>
                      <i class="fa-bounce fa-solid text-black">
                        <span class="m-0 px-2 py-1" style="color: #000000; background-color: #f7d306; font-weight: bold;">Limited stock</span>
                      </i>
                      <% } else { %>
                      <span class="m-0 px-2 py-1" style="color: #ffffff; background-color: #f70606; font-weight: bold;">Out of stock</span>
                      <% } %>
                    </h5>
                    <div class="wish-list position-absolute top-0 end-0 pt-4 pe-4">
                      <% const hasMatchingProduct = locals?.wishlists?.some(wishlist => wishlist?.product?.toString() === flashsales?.productDetails?._id.toString()); %>
                      <button type="submit" class="border-0 wish-list-button" value="<%= flashsales?.productDetails?._id %>" style="background-color: transparent;">
                        <% if(hasMatchingProduct){ %>
                        <i class="fa-solid fa-heart fa-xl" style="color: #ff0000;"></i>
                        <% } else {%>
                        <i class="fa-solid fa-heart fa-xl" style="color: #000000;"></i>
                        <% } %>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="col text-truncate">
                    <a class="text-decoration-none" href="/user-view-product-details/<%= flashsales?.productDetails?._id %>">
                      <h5 class="card-title text-black product-item-title m-0 p-0"><%= flashsales?.productDetails?.title.charAt(0).toUpperCase() + flashsales?.productDetails?.title.slice(1) %></h5>
                    </a>
                  </div>
                  <div class="row w-100 m-0 p-0">
                    <div class="col-md my-2 p-0 d-flex justify-content-start align-items-center">
                      <div class="star-rating">
                        <% for (let i = 1; i <= 5; i++) { %>
                        <% if (i <= flashsales?.averageRating) { %>
                        <span class="fa fa-star fa-sm checked"></span>
                        <% } else if (i - flashsales?.averageRating <= 0.5) { %>
                        <span class="fa fa-star-half fa-sm checked"></span>
                        <% } else { %>
                        <span class="fa fa-star fa-sm"></span>
                        <% } %>
                        <% } %>
                        <span class="font-size text-primary">
                          <%= flashsales?.averageRating %> Stars. |
                          <%= flashsales?.countOfRatings%> Ratings.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col text-truncate py-1">
                    <p class="card-text text-secondary product-item-description m-0 p-0"><%= flashsales?.productDetails?.description.charAt(0).toUpperCase() + flashsales?.productDetails?.title.slice(1) %></p>
                  </div>
                  <div class="col w-100 d-flex align-items-center justify-content-between py-1">
                    <h3 class="product-item-price m-0 p-0">&#8377. <%= flashsales?.productDetails?.mrp %></h3>
                  </div>
                  <form class="pt-2" action="/user-view-product-details/<%= flashsales?.productDetails?._id %>" method="get">
                    <button class="btn btn-dark text-center w-100 text-white font-size">add to cart</button>
                  </form>
                </div>
                <% if (flashsales?.productDetails?.discount) { %>
                <button class="border-0 bg-black font-size text-white position-absolute top-0 start-0 p-2" style="width: 50px; height: 50px; border-top-left-radius: 5px ;"><%= flashsales?.productDetails?.discount %>% OFF.</button>
                <% } %>
              </div>
            </div>
            <% })%>
            <div class="view-all d-flex justify-content-center py-4">
              <form action="/user-list-flash-sales" method="get">
                <button class="text-center px-4 py-2 rounded-pill font-size-bold" type="submit" style="background-color: transparent; border: 2px solid #F0F0F0;">
                  View all
                </button>
              </form>
            </div>
            <% } else { %>
            <div>
              <h6 class="text-black font-size p-2 animate__animated animate__flash " colspan="5"><em>no products to show</em></h6>
            </div>
            <% } %>
            <hr class="fw-bold fs-6 bg-black">
          </div>
          <h2 class="text-center pt-4 fw-bold">New Arrivals</h2>
          <div class="row">
            <% if(newArrival.length > 0){ %>
            <% newArrival.forEach((newArrived) => { %>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center align-items-start my-4 ">
              <div class="card position-relative w-100">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative ">
                  <div class="col-12 m-0 p-0">
                    <a class="text-decoration-none" href="/user-view-product-details/<%= newArrived?.productDetails?._id %>">
                      <img src="/productImages/<%= newArrived?.productDetails?.images[1] %>" class="card-img-top img-fluid w-100 m-0 p-0" style="height: 300px; object-fit: cover;" alt="<%= newArrived?.productDetails?.title %>">
                    </a>
                    <h5 class="text-black font-size m-0 py-1 sumOfQuantities position-absolute bottom-0 start-0">
                      <% if (newArrived.sumOfQuantities > 10) { %>
                      <span class="m-0 px-2 py-1" style="color: #ffffff; background-color: #24b311; font-weight: bold;">In stock</span>
                      <% } else if (newArrived.sumOfQuantities <= 10 && newArrived.sumOfQuantities > 0) { %>
                      <i class="fa-bounce fa-solid text-black">
                        <span class="m-0 px-2 py-1" style="color: #000000; background-color: #f7d306; font-weight: bold;">Limited stock</span>
                      </i>
                      <% } else { %>
                      <span class="m-0 px-2 py-1" style="color: #ffffff; background-color: #f70606; font-weight: bold;">Out of stock</span>
                      <% } %>
                    </h5>
                    <div class="wish-list position-absolute top-0 end-0 pt-4 pe-4">
                      <% const hasMatchingProduct = locals?.wishlists?.some(wishlist => wishlist?.product?.toString() === newArrived?.productDetails?._id.toString()); %>
                      <button type="submit" class="border-0 wish-list-button" value="<%= newArrived?.productDetails?._id %>" style="background-color: transparent;">
                        <% if(hasMatchingProduct){ %>
                        <i class="fa-solid fa-heart fa-xl" style="color: #ff0000;"></i>
                        <% } else {%>
                        <i class="fa-solid fa-heart fa-xl" style="color: #000000;"></i>
                        <% } %>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="col text-truncate">
                    <a class="text-decoration-none" href="/user-view-product-details/<%= newArrived?.productDetails?._id %>">
                      <h5 class="card-title text-black product-item-title m-0 p-0"><%= newArrived?.productDetails?.title.charAt(0).toUpperCase() + newArrived?.productDetails?.title.slice(1) %></h5>
                    </a>
                  </div>
                  <div class="row w-100 m-0 p-0">
                    <div class="col-md my-2 p-0 d-flex justify-content-start align-items-center">
                      <div class="star-rating">
                        <% for (let i = 1; i <= 5; i++) { %>
                        <% if (i <= newArrived?.averageRating) { %>
                        <span class="fa fa-star fa-sm checked"></span>
                        <% } else if (i - newArrived?.averageRating <= 0.5) { %>
                        <span class="fa fa-star-half fa-sm checked"></span>
                        <% } else { %>
                        <span class="fa fa-star fa-sm"></span>
                        <% } %>
                        <% } %>
                        <span class="font-size text-primary">
                          <%= newArrived?.averageRating%> Stars. |
                          <%= newArrived?.countOfRatings%> Ratings.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col text-truncate py-1">
                    <p class="card-text text-secondary product-item-description m-0 p-0"><%= newArrived?.productDetails?.description.charAt(0).toUpperCase() + newArrived?.productDetails?.title.slice(1) %></p>
                  </div>
                  <div class="col w-100 d-flex align-items-center justify-content-between py-1">
                    <h3 class="product-item-price m-0 p-0">&#8377. <%= newArrived?.productDetails?.mrp %></h3>
                  </div>
                  <form class="pt-2" action="/user-view-product-details/<%= newArrived?.productDetails?._id %>" method="get">
                    <button class="btn btn-dark text-center w-100 text-white font-size">add to cart</button>
                  </form>
                </div>
                <% if (newArrived?.productDetails?.discount) { %>
                <button class="border-0 bg-black font-size text-white position-absolute top-0 start-0 p-2" style="width: 50px; height: 50px; border-top-left-radius: 5px ;"><%= newArrived?.productDetails?.discount %>% OFF.</button>
                <% } %>
              </div>
            </div>
            <% })%>
            <div class="view-all d-flex justify-content-center py-4">
              <form action="/user-list-new-arrivals" method="get">
                <button class="text-center px-4 py-2 rounded-pill font-size-bold" type="submit" style="background-color: transparent; border: 2px solid #F0F0F0;">
                  View all
                </button>
              </form>
            </div>
            <% } else { %>
            <div>
              <h6 class="text-black font-size p-2 animate__animated animate__flash " colspan="5"><em>no products to show</em></h6>
            </div>
            <% } %>
            <hr class="fw-bold fs-6 bg-black">
          </div>
          <h2 class="text-center pt-4 fw-bold">Popular Products</h2>
          <div class="row">
            <% if(popuplarProducts.length > 0){ %>
            <% popuplarProducts.forEach((popuplarProduct) => { %>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center align-items-start my-4 ">
              <div class="card position-relative w-100">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative ">
                  <div class="col-12 m-0 p-0">
                    <a class="text-decoration-none" href="/user-view-product-details/<%= popuplarProduct?.productDetails?._id %>">
                      <img src="/productImages/<%= popuplarProduct?.productDetails?.images[1] %>" class="card-img-top img-fluid w-100 m-0 p-0" style="height: 300px; object-fit: cover;" alt="<%= popuplarProduct.title %>">
                    </a>
                    <h5 class="text-black font-size m-0 py-1 sumOfQuantities position-absolute bottom-0 start-0">
                      <% if (popuplarProduct?.sumOfQuantities > 10) { %>
                      <span class="m-0 px-2 py-1" style="color: #ffffff; background-color: #24b311; font-weight: bold;">In stock</span>
                      <% } else if (popuplarProduct?.sumOfQuantities <= 10 && popuplarProduct?.sumOfQuantities > 0) { %>
                      <i class="fa-bounce fa-solid text-black">
                        <span class="m-0 px-2 py-1" style="color: #000000; background-color: #f7d306; font-weight: bold;">Limited stock</span>
                      </i>
                      <% } else { %>
                      <span class="m-0 px-2 py-1" style="color: #ffffff; background-color: #f70606; font-weight: bold;">Out of stock</span>
                      <% } %>
                    </h5>
                    <div class="wish-list position-absolute top-0 end-0 pt-4 pe-4">
                      <% const hasMatchingProduct = locals?.wishlists?.some(wishlist => wishlist?.product?.toString() === popuplarProduct?.productDetails?._id.toString()); %>
                      <button type="submit" class="border-0 wish-list-button" value="<%= popuplarProduct?.productDetails?._id %>" style="background-color: transparent;">
                        <% if(hasMatchingProduct){ %>
                        <i class="fa-solid fa-heart fa-xl" style="color: #ff0000;"></i>
                        <% } else {%>
                        <i class="fa-solid fa-heart fa-xl" style="color: #000000;"></i>
                        <% } %>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="col text-truncate">
                    <a class="text-decoration-none" href="/user-view-product-details/<%= popuplarProduct?.productDetails?._id %>">
                      <h5 class="card-title text-black product-item-title m-0 p-0"><%= popuplarProduct?.productDetails?.title.charAt(0).toUpperCase() + popuplarProduct?.productDetails?.title.slice(1) %></h5>
                    </a>
                  </div>
                  <div class="row w-100 m-0 p-0">
                    <div class="col-md my-2 p-0 d-flex justify-content-start align-items-center">
                      <div class="star-rating">
                        <% for (let i = 1; i <= 5; i++) { %>
                        <% if (i <= popuplarProduct?.averageRating) { %>
                        <span class="fa fa-star fa-sm checked"></span>
                        <% } else if (i - popuplarProduct?.averageRating <= 0.5) { %>
                        <span class="fa fa-star-half fa-sm checked"></span>
                        <% } else { %>
                        <span class="fa fa-star fa-sm"></span>
                        <% } %>
                        <% } %>
                        <span class="font-size text-primary">
                          <%= popuplarProduct?.averageRating%> Stars. |
                          <%= popuplarProduct?.countOfRatings%> Ratings.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col text-truncate py-1">
                    <p class="card-text text-secondary product-item-description m-0 p-0"><%= popuplarProduct?.productDetails?.description.charAt(0).toUpperCase() + popuplarProduct?.productDetails?.title.slice(1) %></p>
                  </div>
                  <div class="col w-100 d-flex align-items-center justify-content-between py-1">
                    <h3 class="product-item-price m-0 p-0">&#8377. <%= popuplarProduct?.productDetails?.mrp %></h3>
                  </div>
                  <form class="pt-2" action="/user-view-product-details/<%= popuplarProduct?.productDetails?._id %>" method="get">
                    <button class="btn btn-dark text-center w-100 text-white font-size">add to cart</button>
                  </form>
                </div>
                <% if (popuplarProduct?.productDetails?.discount) { %>
                <button class="border-0 bg-black font-size text-white position-absolute top-0 start-0 p-2" style="width: 50px; height: 50px; border-top-left-radius: 5px ;"><%= popuplarProduct?.productDetails?.discount %>% OFF.</button>
                <% } %>
              </div>
            </div>
            <% })%>
            <div class="view-all d-flex justify-content-center py-4">
              <form action="/user-list-popular-products" method="get">
                <button class="text-center px-4 py-2 rounded-pill font-size-bold" type="submit" style="background-color: transparent; border: 2px solid #F0F0F0;">
                  View all
                </button>
              </form>
            </div>
            <% } else { %>
            <div>
              <h6 class="text-black font-size p-2 animate__animated animate__flash " colspan="5"><em>no products to show</em></h6>
            </div>
            <% } %>
            <hr class="fw-bold fs-6 bg-black">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        const walletEl = document.getElementById('walletData');
        const walletDetails = walletEl.getAttribute('data-wallet');

        console.log(walletDetails.length, 'walletDetails');

        if (walletDetails.length === 0) {
          var toast = new bootstrap.Toast(document.getElementById('confirmationToast'), {
            autohide: false
          });
          toast.show();
        }

        document.getElementById('confirmChangeBtn').addEventListener('click', function() {
          activateWallet();
        });

      })

      function activateWallet() {
        const url = `/activate-wallet`;
        fetch(url, {
            method: 'POST'
          })
          .then(response => response.json())
          .then(data => {
            if (data.status) {
              Swal.fire({
                title: 'Your wallet is now active',
                text: 'Yay! Congratulations, you have received Rs. 1000 in your wallet',
                icon: 'success',
                confirmButtonText: 'OK',
                confirmButtonColor: 'green'
              }).then((result) => {
                if (result.isConfirmed) {
                  location.replace('/user-dashboard-wallet');
                }
              });
            }
          })
          .catch(error => {
            console.error('Error updating order status:', error);
          });
      }
    </script>
  </section> -->

  <!-- including user footer  -->
  <%- include('../../partials/user-partials/user-footer.ejs') %>

</body>

</html>