<!-- including admin head  -->
<%- include('../../partials/user-partials/user-head.ejs') %>

<body>

  <!-- including admin nav  -->
  <%- include('../../partials/user-partials/user-nav.ejs') %>

  <section>
    <div class="container-fluid">
      <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center border-1 border-end">
          <img class="login-image img-fluid" src="/images/login.png" alt="Login page image">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
          <div class="loginDiv" style="width: 500px;">
            <h4 class="text-center text-danger font-size-bold-title">Reset password with OTP</h4>
            <% if (error) { %>
              <p id="flash" class="text-danger text-center font-size"><%= error %></p>
              <% } %>
            <% if (message) { %>
              <p id="flash" class="text-success text-center font-size"><%= message %></p>
              <% } %>
            <form id="loginForm" action="/user-forgot-password" method="POST">
              <div class="mb-3">
                <label for="email" class="form-label text-black font-size">Enter your email <span class="text-danger">*</span></label>
                <input type="email" class="form-control bg-white text-black font-size" id="email" name="email" required>
              </div>
              <div class="text-center mb-3 d-flex justify-content-around align-items-center">
                <a href="/user-login" class="btn btn-dark my-3 text-white font-size-bold">cancel</a>
                <button type="submit" class="btn btn-danger my-3 text-white font-size-bold">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- including admin footer  -->
  <%- include('../../partials/user-partials/user-footer.ejs') %>

</body>

</html>
